<% unless @article.nil? %>
  <article>
	  <div class= 'field-article'> <%= @article.title %> </div>
	  <div class= 'field-article field-box'>
	  <p> <%= simple_format(@article.text)%> </p>
	  </div>
	  <span> <%= @article.author_id %> </span>
	  <span> <%= @article.priority %> </span>
  </article>
<% end %>

