<% unless @article.nil? %>
  <article class = 'default-grid-template'>
  	<div class = 'g-col-start-4 g-col-end-10'>
	  <div class= 'field-article'> <%= @article.title %> </div>
	  <div class= 'field-article field-box'>
	  <p> <%= simple_format(@article.text)%> </p>
	  </div>
	  <span> <%= @article.author_id %> </span>
	  <span> <%= @article.priority %> </span>
	</div>
  </article>
<% end %>

