<!-- header will be here -->
<section> 
	<h1 class="text-danger">Articles</h1>
	<div>
		<%= render 'article', Article: @article=@index_data['feature'].first %>
	</div>
	<br>
	<br>
	<br>
	<div>
		<% @index_data['new_from_categories'].each do |x| %>
		 <br>
		 <%= x.inspect %>
		  <br>
		<% end %>
		<h1> ENDING OF ALL </h1>
	</div>
</section>
<section>
	<!-- article from categories in featured order -->
</section>
<!-- footer will be here -->
