<!-- header will be here -->
<section> 
	<div class='default-grid-template'>
		<% unless @index_data['feature'].nil? %>
		  <div class = 'd-flex d-flex-col g-col-start-4 g-col-end-10'>
		  <h1 class='title-main'>
			<%= @index_data['feature'].title %>
		  </h1>
		  <div class='d-flex-break'></div>
		  <h3 class='author'> Written by <%= @index_data['feature'].author.username %> </h3>
		  <div class='d-flex-break'></div>
		  <p class='preview'><%= @index_data['feature'].text.truncate(95) %></p>
		  </div>
	    <% end %>
	</div>
</section>
<section class= 'd-flex'>
	<% @index_data['new_from_categories'].each do |c| %>
		<div>
			<h3> c.title </h3>
		</div>
	<% end %>
</section>
