<!-- header will be here -->
<section> 
	<div class='default-grid-template'>
		<div class='row previewDisplay d-flex d-flex-col'>
		  <% unless @index_data['feature'].first.nil? %>
			<h1 class='title-main'>
				<%= @index_data['feature'].first.title %>		
			</h1>
			<h3 class='author'>@index_data['feature'].first.author.username</h3>
			<p class='preview'><%= @index_data['feature'].first.title.truncate.length(45) %></p>
	      <% end %>
		</div>
	</div>
</section>
<section class= 'd-flex'>
	<% @index_data['new_from_categories'].each do |c| %>
		<div>
			<h3> c.title </h3>
		</div>
	<% end %>
</section>

