<!-- header will be here -->
<section> 
	<div>
		<%= render 'article', Article: @article=@index_data['feature'] %>
	</div>
	<br>
	<br>
	<br>
	<div>
		<%= @index_data['new_from_categories'].each do |x| %>

		<% end %>
	</div>
</section>
<section>
	<!-- article from categories in featured order -->
</section>
<!-- footer will be here -->
