<!-- header will be here -->
<section> 
	<div>
		<!-- main article -->
	</div>
	<div>
		<!-- article categories -->
	</div>
</section>
<section>
	<!-- article from categories in featured order -->
</section>
<!-- footer will be here -->
