// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.field-article {
	border-style: none;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #757575;
	font-size: 200%;
	margin-bottom: 1em;
	margin-top: 1em;
	width: 57vw;
	word-wrap: break-word;
}

.field-title {
    height: 1.4em;
}

.field-box {
  border-style: none;
  height: 50vh;
}

.field-create {
	background-color: #fafafa;
	border-top-style: solid;
	border-top-width: thin;
	border-top-color: #757575;
	width: 20vw;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}
