
// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.article {
	padding-bottom: 5%;
}

.field-article {
	border-style: none;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #757575;
	font-size: 180%;
	margin-bottom: 1em;
	margin-top: 1em;
	width: 57vw;
	word-wrap: break-word;
}

.field-title {
    height: 1.4em;
    font-size: 2.2vw;
}

.field-box {
  border-style: none;
  min-height: 70vh;

}

.field-create {
	background-color: #fafafa;
	border-top-style: solid;
	border-top-width: thin;
	border-top-color: #757575;
	width: 20vw;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

.check-box input {
	height: 20px;
	width: 20px;
	border-style: solid;
	border-radius: 0.2em;
	border-width: thin;
	border-color: #212121;
	margin-right: 0.5em;
	margin-left: 0.5em;
	cursor: pointer;
}

.newest-index {
    height: 25vh;
    position: relative;
}

.top-0 {
	top: 0;
}

.button-vote {
	margin-top: 3vh;
	height: 4vh;
	background: transparent;
	border-width: thin;
	border-color: #212121;
	font-size: 2vh;
}

.divisor-div {
	border-top-style: solid;
	border-width: thin;
	border-color: #212121;
	padding: 2.5vh 0 2.5vh 0;
}
