$black-main: #212121;
$white-main: #CFD8DC;
$gray-main: #757575;
$lg: 'lg';
$md: 'md';
$sm: 'sm';
$bl: '';
@import 'font-awesome';

body {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
  a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  }  
  text-wrap: word-break;
  overflow-x: hidden;
}

.header {
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: $gray-main;
}

.default-grid-template {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1%;
}

.fright {
  float:right;
}

.row {
  grid-column: span  12;
}

@media screen and (min-width: 1024px) {
  @for $i from 1 through 12 {
  .col-lg-#{$i} { grid-column: span $i; }
  .g-col-lg-gap-#{$i} { grid-column-gap: $i*1%; }
  .g-row-lg-start-#{$i} { grid-row-start: $i; }
  .g-row-lg-end-#{$i}{ grid-row-end: $i; }
  .g-col-lg-start-#{$i} { grid-column-start: $i; }
  .g-col-lg-end-#{$i} { grid-column-end: $i; }
}
}

@for $i from 1 through 12 {
  .col-lg-#{$i} { grid-column: span $i; }
  .g-col-gap-#{$i} { grid-column-gap: $i*1%; }
  .g-row-start-#{$i} { grid-row-start: $i; }
  .g-row-end-#{$i}{ grid-row-end: $i; }
  .g-col-start-#{$i} { grid-column-start: $i; }
  .g-col-end-#{$i} { grid-column-end: $i; }
}

@media screen and (min-width: 720px) and (max-width: 1024px) {
  .field-login, .field-create {
  width: 60vw;
  }

@for $i from 1 through 12 {
  .col-md-#{$i} { grid-column: span $i; }
  .g-col-md-gap-#{$i} { grid-column-gap: $i*1%; }
  .g-row-md-start-#{$i} { grid-row-start: $i; }
  .g-row-md-end-#{$i}{ grid-row-end: $i; }
  .g-col-md-start-#{$i} { grid-column-start: $i; }
  .g-col-md-end-#{$i} { grid-column-end: $i; }
}
}

@media screen and (max-width: 719px) {
.field-login, .field-create {
  width: 80vw;
  }
 .d-none {
  display: none;
 }
@for $i from 1 through 12 {
  .col-sm-#{$i} { grid-column: span $i; }
  .g-col-sm-gap-#{$i} { grid-column-gap: $i*1%; }
  .g-row-sm-start-#{$i} { grid-row-start: $i; }
  .g-row-sm-end-#{$i}{ grid-row-end: $i; }
  .g-col-sm-start-#{$i} { grid-column-start: $i; }
  .g-col-sm-end-#{$i} { grid-column-end: $i; }
}

.header {
  li {
    border-top-style: solid;
    border-bottom-style: solid;
    margin: 1%;
    border-width: thin;
    padding-top: 4%;
    padding-bottom: 4%;
  }
}

.footer-box {
  div {
    font-size: 250%;
  }
  
}
}

.place-g-center {
  justify-content: center;
  align-items: center;
}

.justify-c-center {
  justify-content: center;
}

.align-i-center {
  align-items: center;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.d-flex-col {
	flex-direction: column;
}

.d-flex-wrap {
	flex-wrap: wrap;
}

.d-flex-break {
  flex-basis: 100%;
  height: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.logo {
	height: 58px;
	width: 98px;
	float: right;
	margin-right: 50%;
}
 ul {
 	margin-top: 17px;
 	list-style-type: none;
 	li {

 	}
 }
 .hover-color-w { 
    background-color: white;
  }

 .article-title-pic {
  width: 100%;
  height: auto;
 }

.featured-article {
  height: 60vh;
  position: relative;
}

.preview-text {
  position: absolute;
  bottom: 0;
  margin-bottom: 1%;

  h1, h2, h3 {
    background-color: white;
    display: inline;
    width: max-content;
    &:hover{
      text-decoration: underline;
    }
  }
  p {
    background-color: white;
    font-size: 2vw;
    overflow: hidden;
    text-overflow: elipsis;
    width: 70%;
  }
  h3 {
    background-color: white;
  }
}

.default-link {
  margin: 0;
  &:hover{
      text-decoration: underline;
      border-left: solid;
      border-right: solid;    
      border-width: thin;  
          
    }
}

.border-bot-1 {
  border-bottom-style: solid;
  border-width: thin;
  border-color: $gray-main;
}

.text-overflow-hidden{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: no-wrap;
}

.bg-white {
  background-color: #FFFFFF;
}

.text-container-article-p {
  width: 60%;
}

.d-inline {
  display: inline-block;
}

.m-1 {
  margin: 1%;
}

.m-0 {
  margin: 0;
}

.p-1 {
  padding: 1%;
}

.m-top-1 {
  margin-top: 1%;
}

.m-top-1-5{
  margin-top: 1.5%;
}

.m-left-1 {
  margin-left: 1%;
}

.d-table {
  display: table;
}

.d-in-block {
  display: inline-block;
}

.max-height-400 {
  height: 200px;
}

.footer-box {
  border-top-style: solid;
  border-width: thin;
  border-color: $black-main;
  font-size: 1.5vw;

}

.text-a-center
{
  vertical-align:center;
}

.bold {
  font-weight: bold;
}

.m-r-3 {
  margin-right: 3%;
}
