$black-main: #212121;
$white-main: #CFD8DC;
$gray-main: #757575;

body {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}

.header {
	height: 58px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: $gray-main;
}

.d-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.d-flex-col {
	flex-direction: columns;
}

.d-flex-center {
	align-items: center;
 	justify-content: center;

}

.grid-template-default {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1%;
}

.row {
  grid-column: span 12;
}

.logo {
	height: 58px;
	width: 98px;
	float: right;
	margin-right: 50%;
}

  @for $i from 1 through 12 {
     .col-#{$i}-m { grid-column: span $i; }
     .col-start-#{$i}-m { grid-column-start: span $i; }
  }

 ul {
 	margin-top: 17px;
 	list-style-type: none;
 	li {

 	}
 }
