<header class='header'>
  <nav class='grid-template-default row'>
    <div class='col-4-m'>
      <%= image_tag("bisde-03.png", class: 'logo')%>
    </div>
    <ul class='grid-template-default col-8-m col-start-end'>
      <li class='col-2-m d-flex'>
        <% unless current_user.nil? %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        <% else %>
        <%= link_to('Log in!', user_session_path, method: :get) %>
        <% end %>
      </li>
        <li class='col-2-m d-flex'>Articles</li>
        <li class='col-2-m d-flex'>Reviews</li>
        <li class='col-2-m d-flex'>Upcoming</li>
        <li class='col-2-m d-flex'>Analysis</li>
    </ul>
  </nav>
</header>