<header class='header'>
  <nav class='default-grid-template'>
    <div class='col-lg-4'>
      <%= image_tag("bisde-03.png", class: 'logo')%>
    </div>
    <ul class='default-grid-template col-lg-8'>
      <li class='col-lg-2 d-flex'>
        <% unless current_user.nil? %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        <% else %>
        <%= link_to('Log in!', user_session_path, method: :get) %>
        <% end %>
      </li>
        <li class='col-lg-2 d-flex'>Home</li>
        <li class='col-lg-2 d-flex'>Reviews</li>
        <li class='col-lg-2 d-flex'>Upcoming</li>
        <li class='col-lg-2 d-flex'>Analysis</li>
        <li class='col-lg-2 d-flex'>
        <%= link_to('New', articles_new_path, method: :get) %>
      </li> 
    </ul>
  </nav>
</header>